<div class="row">
  <div class="col-6">
    <h2>Input</h2>
    <textarea name="" id="" cols="30" rows="11" [formControl]="textarea"></textarea>
    <div>
      <a href="https://asymmetrik.com/programming-challenges/#silk-accordion-0-0" target="_blank">Sample Inputs</a>
    </div>
  </div>
  <div class="col-6">
    <h2>Output</h2>
    <div class="business-card p-4 text-center">
      <div class="content" *ngIf="output">
        <h1 class="mb-5">{{output.getName()}}</h1>

        <p class="d-flex align-items-end justify-content-start mb-2">
          <i class="material-icons">phone_iphone</i>
          {{output.getPhoneNumber()}}</p>

        <p class="d-flex align-items-end justify-content-start">
            <i class="material-icons">mail_outline</i>
            {{output.getEmailAddress()}}</p>

      </div>
    </div>
    <pre *ngIf="output" class="mt-3">Contact Info: {{output | json}}</pre>
  </div>
</div>
